div#header
        a(href= "/profile") Profile  | 
        |
        |
        a(href= "/liked") Liked Artworks  | 
        |
        |
        a(href= "/reviewed") Reviewed Artworks  | 
        |
        |
        a(href= "/artworkSearch") Artwork Search  | 
        |
        |
        a(href= "/addArtwork") Add Artwork  |
        |
        |
        a(href= "/addWorkshop") Add Workshop  |
        |
        |
        a(href= "/logout") Log Out
        script(src="/js/client.js")
        